*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*splash screen*/

.intro{
    height: 100vh;
    width: 100%;
    background: #e0e0e0;
    position: fixed;
    left: 0;
    top: 0;
    transition: 1s;
    z-index: 2;
}

.title .logo img{
    width: auto;
    height: 40vh;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.logo{
    position: relative;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/*header*/

.hero{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: animate alternate-reverse 30s forwards running infinite ease-in-out;
    z-index: 0;
}

@keyframes animate{
    0%
    {
        background-image: url("ELATEBG1.jpg") ;
    }
    20%
    {
        background-image: url("ELATEBG2.jpg");
    }
    40%
    {
        background-image: url("ELATEBG3.jpg");
    }
    60%
    {
        background-image: url("ELATEBG4.jpg");
    }
    80%
    {
        background-image: url("ELATEBG5.jpg");
    }
    100%
    {
        background-image: url("ELATE6.JPG");
    }

    
}

.hero::before{
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: .8;
}

/*hero fill*/

.fill{
    position: relative;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
}

.content{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
}

.text1{
    font-size: 50px;
    font-weight: 800;
}

.text2{
    font-size: 50px;
    font-weight: 200;
}