*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*splash screen*/

.intro{
    height: 100vh;
    width: 100%;
    background: #e4e4e4;
    position: fixed;
    left: 0;
    top: 0;
    transition: 1s;
    z-index: 2;
}

.title .logo img{
    width: auto;
    height: 40vh;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.logo{
    position: relative;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/*header*/

.hero{
    height: 65vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: animate alternate-reverse 30s forwards running infinite ease-in-out;
    z-index: 0;
}

@keyframes animate{
    0%
    {
        background-image: url("ELATE1.JPG");
    }
    20%
    {
        background-image: url("ELATE2.JPG");
    }
    40%
    {
        background-image: url("ELATE3.JPG");
    }
    60%
    {
        background-image: url("ELATE4.JPG");
    }
    80%
    {
        background-image: url("ELATE5.JPG");
    }
    100%
    {
        background-image: url("ELATE6.JPG");
    }

    
}

.hero::before{
    content: '';
    position: absolute;
    height: 65vh;
    width: 100%;
    background-color: black;
    opacity: .6;
}

header{
    --text: #fff;
    --reverse_text: #1a1a1a;
    --reverse_background: transparent;
    --background: transparent;


    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px ;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    background-color: var(--background);
    box-shadow: 0px 2px 10px var(--reverse_background);
    transition: .2s;
    z-index: 1;
}

.logo_nav{
    color: var(--text);
    font-size: 43px;
    font-weight: 800;
    padding: 10px 30px;
    text-decoration: none;
    transition: transform .2s;
}

.logo_nav:hover{
    transform: scale(1.1);
}

button{
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Mulish', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

button a{
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0px;
    position: relative;
    transition: .2s;
}

.contact-nav{
    display: none;
}

header nav button a::before{
    content: '';
    position: absolute;
    height: 2px;
    background-color: var(--text);
    width: 100%;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform .3s;
    transform-origin: right;
}

header nav button a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.contact a{
    text-decoration: none;
    color: var(--text);
    padding: 8px 25px;
    font-size: 23px;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
    border: 4px solid var(--text);
    outline: none;
    background-color: transparent;
    border-radius: 6px;
    position: relative;
    transition: .4s;
}

.contact a::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--text);
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}

.contact a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.contact a:hover{
    color: var(--reverse_text);
}

.nav_scrolled{
    --text: #000;
    --reverse_text: #f2f2f2;
    --reverse_background: #000;
    --background: #f2f2f2;
}

nav{
    width: 50%;
    text-align: center;
}

#menu-icon{
    color: var(--text);
    font-size: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1250px){
    button a{
        font-size: 20px;
        transition: .2s;
    }
    .logo_nav{
        font-size: 45px;
    }
    .contact a{
        text-decoration: none;
        color: var(--text);
        padding: 9px 28px;
        font-size: 22px;
        font-weight: 800;
        font-family: 'Mulish', sans-serif;
        border: 4px solid var(--text);
        outline: none;
        background-color: transparent;
        border-radius: 6px;
        position: relative;
        transition: .4s;
    }
}

@media (max-width: 1121px){
    button a{
        text-decoration: none;
        color: var(--text);
        font-size: 18px;
        font-weight: 400;
        padding: 5px 0px;
        position: relative;
        transition: .2s;
    }
    .logo_nav{
        font-size: 40px;
    }
    .contact a{
        text-decoration: none;
        color: var(--text);
        padding: 8px 26px;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Mulish', sans-serif;
        border: 4px solid var(--text);
        outline: none;
        background-color: transparent;
        border-radius: 6px;
        position: relative;
        transition: .4s;
    }
}

@media (max-width: 1051px){
    #menu-icon{
        display: block;
    }

    nav{
        position: absolute;
        top: 110%;
        right: -100%;
        width: 300px;
        height: 29vh;
        border-radius: 15px;
        background-color: var(--reverse_text);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid var(--text);
        transition: all .4s ease;
    }

    button{
        padding: 10px 0px;
    }

    .contact-nav{
        display: block;
    }

    .contact{
        display: none;
    }

    button a:active{
        transform: translateY(-2px);
    }

    nav.open{
        right: 2%;
    }
}

@media (max-height: 769px){
    button{
        padding: 8px 0px;
    }
    button a{
        font-size: 17px;
    }
    nav{
        position: absolute;
        top: 110%;
        right: -100%;
        width: 280px;
        height: 29vh;
        border-radius: 15px;
        background-color: var(--reverse_text);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid var(--text);
        transition: all .4s ease;
    }
}

@media (max-height: 666px){
    nav{
        position: absolute;
        top: 110%;
        right: -100%;
        width: 240px;
        height: 29vh;
        border-radius: 15px;
        background-color: var(--reverse_text);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid var(--text);
        transition: all .4s ease;
    }
    button a{
        font-size: 14px;
    }
}

@media (max-width: 1040px){
    #menu-icon{
        color: var(--text);
        font-size: 35px;
        cursor: pointer;
        display: block;
    }
    .logo_nav{
        font-size: 40px;
    }
}

@media(max-width: 630px){
    #menu-icon{
        color: var(--text);
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    .logo_nav{
        font-size: 35px;
    }
}

@media(max-width: 496px){
    #menu-icon{
        color: var(--text);
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    .logo_nav{
        font-size: 30px;
    }
}

/*hero fill*/

.fill{
    position: relative;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    left: 3%;
    height: 100%;
    display: flex;
    align-items: center;
}

.text1{
    font-size: 50px;
    font-weight: 700;
}

.bold{
    font-weight: 900;
    font-size: 55px;
}

.text2{
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 20px;
}

.text_line3{
    display: flex;
    position: relative;
    align-items: center;
}

.text3{
    font-weight: 800;
    font-size: 40px;
    margin-right: 10px;
}

.dropbutton a{
    text-decoration: none;
    color: #fff;
    padding: 3px 8px;
    background-color: transparent;
    border-radius: 100%;
    font-size: 40px;
    border: 3px solid #fff;
    position: relative;
    transition: .4s;
    z-index: 0;
}

.dropbutton a:hover{
    color: #000;
}

.dropbutton a::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 100%;
    transition: transform .2s;
    transform: scale(0);
}

.dropbutton a:hover::before{
    transform: scale(1);
}

@media(max-width: 630px){
    .text2{
        font-size: 30px;
    }
    .text_line3{
        justify-content: start;
    }
    .text3{
        font-size: 35px;
    }
    .text1{
        font-size: 43px;
    }
    .text1 span{
        font-size: 48px;
    }
}

@media(max-width: 542px){
    .text2{
        font-size: 28px;
    }
    .text3{
        font-size: 32px;
    }
    .text1{
        font-size: 38px;
    }
    .text1 span{
        font-size: 43px;
    }
}

@media(max-width: 496px){
    .fill{
        display: flex;
        flex-direction: column;
        text-align: center;
        left: -2px;
        place-items: center;
        justify-content: center;
    }
    .text2{
        font-size: 25px;
    }
    .text_line3{
        justify-content: center;
    }
    .text3{
        font-size: 30px;
    }
    .text1{
        font-size: 35px;
    }
    .text1 span{
        font-size: 40px;
    }
}

@media(max-width: 440px){
    .text1{
        font-size: 30px;
    }
    .text1 span{
        font-size: 35px;
    }
    .text2{
        font-size: 20px;
    }
    .text_line3{
        justify-content: center;
    }
    .text3{
        font-size: 25px;
    }
}

@media(max-width: 380px){
    .content .text1{
        font-size: 25px;
    }
    .text1 span{
        font-size: 28px;
    }
    .content .text2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .text_line3{
        display: flex;
        flex-direction: column;
    }
    .dropbutton{
        margin-top: 30px;
    }
    .dropbutton a{
        font-size: 40px;
        padding: 2px 7px;
    }
}

/*Introduction page*/

.introduction_page{
    height: 140vh;
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
}

.edge_circle{
    width: 40%;
    height: 70vh;
    background-color: #17202f;
    opacity: .1;
    border-bottom-left-radius: 100%;
    position: absolute;
    z-index: 0;
    right: 0;
}

.cage{
    display: flex;
    flex-direction: column;
    transition: .2s;
}

.heading{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 8%;
    margin-left: 30px;
    transition: .2s;
}

.introduction_page .cage .p1{
    font-size: 22px;
    font-weight: 300;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}

.text_sambutan{
    position: relative;
    display: inline-block;
}

.sambutan_kepsek{
    position: relative;
    text-align: right;
    padding: 10px 80px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
}

.sambutan_kepsek img{
    width: auto;
    height: 50vh;
    border: 5px solid #052650;
    border-radius: 15px;
}

.text_sambutan{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 20px;
}

.sambutan_subtitle{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transition: .2s;
}

.sambutan_kepsek .p2{
    font-size: 22px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
}

@media(max-width: 972px){
    .introduction_page{
        height: 185vh;
    }
    .sambutan_kepsek{
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        padding: 10px 0px;
    }
    .text_sambutan{
        text-align: justify;
        margin-left: -5px;
        place-items: center;
        margin-top: 40px;
    }
    .sambutan_subtitle{
        text-align: center;
    }
    .cage{
        place-items: center;
        text-align: center;
        margin-left: -30px;
    }

    .p1{
        text-align: justify;
        position: relative;
    }
    .introduction_page .cage .heading{
        font-size: 60px;
    }
}

@media(max-width: 836px){
    .cage .heading{
        font-size: 55px;
    }

    .sambutan_subtitle{
        font-size: 35px;
    }
}

@media(max-width: 740px){
    .sambutan_subtitle{
        font-size: 30px;
    }
}

@media(max-width: 715px), (max-height: 843px){
        .text_sambutan .p2{
        font-size: 20px;
    }
    .introduction_page .cage .p1{
        font-size: 20px;
    }
}

@media(max-width: 680px){
    .introduction_page .cage .heading{
        font-size: 50px;
    }
}

@media(max-width: 640px){
    .sambutan_kepsek{
        margin-top: 60px;
    }
}

@media(max-width: 560px){
    .introduction_page{
        height: 220vh;
    }
    .introduction_page .cage .heading{
        font-size: 35px;
    }
}

@media(max-width: 468px){
    .introduction_page{
        height: 230vh;
    }
}

@media(max-width: 440px){
    .introduction_page{
        height: 200vh;
    }
    .cage .heading{
        font-size: 32px;
    }
    .sambutan_subtitle{
        font-size: 28px;
    }
    .introduction_page .cage .p1{
        font-size: 18px;
        font-weight: 300;
        width: 80%;
        font-family: 'Montserrat', sans-serif;
        margin-left: 30px;
    }
    .sambutan_kepsek .p2{
        font-size: 18px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        width: 85%;
    }
}

@media(max-width: 374px){
    .sambutan_kepsek{
        margin-top: 200px;
    }
    .introduction_page .cage .p1{
        font-size: 15px;
    }
    .sambutan_subtitle{
        font-size: 26px;
    }
    .sambutan_kepsek .p2{
        font-size: 15px;
    }
}

@media(max-width: 335px){
    .introduction_page{
        height: 220vh;
    }
    .sambutan_subtitle{
        font-size: 22px;
    }
    .introduction_page .cage .heading{
        font-size: 27px;
    }
}

/*social page*/

.social_page{
    height: 65vh;
    width: 100%;
    background: #00586B;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content_line{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 1%;
}

.content_line img{
    width: auto;
    height: 58vh;
}

.content_line .text{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.content_line .text .p4{
    margin-bottom: 20px;

}

.content_line .text .p4_head{
    font-weight: 800;
    font-size: 55px;
    color: #fff;
    width: 500px;
}

.content_line .text .p4_body{
    font-size: 35px;
    color: #fff;
    font-weight: 200;
    width: 500px;
    padding-bottom: 10px;
}

.text .btn a{
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    height: 100%;
    border: 5px solid #fff;
    border-radius: 10px;
    transition: .3s;
    font-weight: 600;
}

.text .btn a:hover{
    background-color: #fff;
    color: #000;
}

@media(max-width: 765px){
    .content_line img{
        height: 50vh;
    }
}

@media(max-width: 675px){
    .content_line img{
        height: 40vh;
    }
    .content_line .text .p4_head{
        font-weight: 800;
        font-size: 35px;
        color: #fff;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
    }
    .content_line .text .p4_body{
        font-size: 25px;
        color: #fff;
        font-weight: 200;
        width: 350px;
    }

    .text .btn a{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 10px 15px;
        height: 100%;
        border: 5px solid #fff;
        border-radius: 10px;
        transition: .3s;
        font-weight: 600;
    }
}

@media(max-width: 525px){
    .content_line{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .social_page{
        height: 85vh;
    }
    .content_line img{
        height: 40vh;
        margin-bottom: 10px;
    }
    .content_line .text .p4_body{
        margin-left: -22px;
    }
    .content_line .text .p4_head{
        margin-left: 5px;
    }
    .text .btn a{
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 10px 15px;
        height: 100%;
        border: 5px solid #fff;
        border-radius: 10px;
        transition: .3s;
        font-weight: 600;
        margin-left: -22px;
    }
}

/*outro*/

.outro{
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
    position: relative;
}

.outro .header{
    position: relative;
    text-align: center;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 10px;
}

.content_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.card1{
    display: inline-block;
    width: 200px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.card1 ul li{
    list-style: none;
}

.card1 ul li a{
    transition: .2s;
    text-decoration: none;
    font-size: 23px;
    color: #000;
}

.card1 ul li a:hover{
    font-weight: 700;
}

#b{
    font-weight: 700;
    transition: .3s;
}

#b:hover{
    color: #8a8a8a;
}

.card1 .label{
    font-size: 23px;
    font-weight: 800;
    text-align: end;
}

.card1 .icons{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    float: right;
}

.card1 .icons a{
    padding: 0px 2px;
    text-decoration: none;
    color: #000;
}

.addition-card{
    display: none;
}

.addition-card .icons a{
    padding: 0px 1px;
    text-decoration: none;
    color: #000;
}

.addition-card .icons{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 10px;
}

.addition-card .label{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.outro .image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.outro .image img{
    width: auto;
    height: 6vh;
    margin-bottom: 40px;
}

.outro .copyright{
    width: 100%;
    background-color: #b9b9b9;
    height: 30px;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

@media(max-width: 620px){
    .card1 .label{
        margin-right: 25px;
    }
    .card1 .icons{
        margin-right: 25px;
    }
}

@media(max-width: 525px){
    .outro .header{
        font-size: 40px;
    }
    .card1 ul li a{
        transition: .2s;
        text-decoration: none;
        font-size: 18px;
        color: #000;
    }
    .card1 .label{
        font-size: 18px;
        font-weight: 800;
        text-align: end;
    }
    .card1 .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        font-size: 20px;
    }
}

@media(max-width: 480px){
    .outro .copyright{
        font-size: 15px;
    }
}

@media(max-width: 480px){
    .outro .copyright{
        font-size: 13px;
    }
}

@media(max-width: 400px){
    .outro .copyright{
        font-size: 11px;
        height: 28px;
    }
    .card1 ul li a{
        transition: .2s;
        text-decoration: none;
        font-size: 15px;
        color: #000;
    }
    .card3{
        display: none;
    }
    .addition-card{
        display: block;
    }
}

@media(max-width: 326px){
    .outro .copyright{
        font-size: 10px;
        height: 26px;
    }
}
